body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #fff;
}
*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.conteiner{
  height: 100vh;
  width: 100%;
  background-color: rgb(179, 173, 166);
}
.navbar{
  background: url(../img/Rectangle\ 7.png);
  height: 250px;
  width: 100%;

}

.mainTitle{
width: 100%;
height: 33px;
text-align: center;
margin-top: 55px;
padding: 0;
margin-bottom: 0;

font-family: Arial, Helvetica, sans-serif;
font-size: 42px;
line-height: 20px;
color: #fff;
}

.find{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-left: 200px;


}
.form-control{
  /*width: 939px !important;*/
  height: 45px;

}

.btn{
  height: 45px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.oneButton{
  margin-left: -75px;
  width: 100px;
}
.twoButton{
  margin-left: 25px !important;
  color:  #498AFF;

}
.menu{
  height: 30px;
  width: 100%;
  margin-left: 200px;
}


.filterslist {
  width: 1136px;
  list-style: none;
  /*padding-left: 60px;*/
}
.filterslist li{
  float: left;
  padding-right: 16px;
  color: #fff;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

}
.filterslist .active{
  color: orange;
}

.streets{
  padding: 0;
  height: 100%;
  width: 370px;
  background-color: #F7F7F7;
  color: #151515;

}
.streets h3{
  padding-left: 20px;
}
.listStreet{
  background-color:  #fff;
  height: 115px;
  color: #292929;
  padding-left: 20px;
  border-top: 0.5px solid #C4C4C4;
  border-bottom: 0.5px solid #C4C4C4;
  margin-bottom: 8px;
  cursor: pointer;
}
.listStreet h4{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.problem{
  color: #D91F1F;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 0;


}
.fotci {
  height: 65px;
  text-align: center;
  margin-top: 20px;
  padding-left: 10px;
}

.foto{
  float: left;
  line-height: 15px;
  width: 50px;
  height:50px;
  margin: 0 auto;
  margin-right: 20px;
  overflow: hidden;
  border: 1.5px solid #D91F1F;
  border-radius: 50%;

}

.maps {
  background: #000;
  height: 60%;
}
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


/* //////SREET PAGE////// */
html{
  background:  #F5F5F5;
}
.streetPage{
  background: url(../img/Rectangle\ 7\(1\).png);
  height: 250px;
}

.nameStreet{

  font-size: 42px;
  /* line-height: 20px; */
  height: 20px;
  text-align: center;
  padding-top: 105px;
  color: #fff;
  list-style: none;

}
.returnPrev{
  padding-top: 20px;
  padding-left: 150px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}
.mapsTwoPage{
  background: url(../img/Rectangle\ 8\(1\).png);
  height:65%;
  width: 100%;
}
.conteinerStreet{
  background: #F5F5F5;;
  display: flex;
  justify-content: center;
  padding-top: 134px;
}

.statistic {
  width:  1146px;
  background: #fff;
  box-shadow: 0px 6px 20px rgba(156, 164, 179, 0.5);
  padding: 30px;
}
.titleStreet{
  font-size: 34px;
  /* line-height: 20px; */
  color: #797B7C;
  padding-left: 100px;
  padding-top: 20px;
}
.stts{
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #2F3135;
  padding-bottom: 25px;
}
.tableStatistic{
  border: #498AFF;
  border-radius:  5px 5px 0px 0px;
}
.zagolovkiTable{
  color: #fff;
}
.table-stat{
  background:#F5F8FF;
}
.statGraff{
  height: 90%;
  width:  1146px;
  margin: 0 auto;
  padding: 0;
  background:  #F5F5F5;
}
.prozi{
  font-size: 50px;
  color: #151515;
  margin-top: -170px;
  margin-left: 180px;
  opacity: inherit;
}
.statisticOne{
  margin-top: 30px;
  margin-right: 30px;
  width: 656px;
  height: 450px;
  float: left;
}
.statisticTwo{
  margin-top: 30px;
  width: 460px;
  height: 450px;
  float: right;
}
.titleCircle, .titleGraf{
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #2F3135;
}
.punctCircle{
  font-size: 12px;
  line-height: 14px;
  color:#48494A;
}
.punctCircle li {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 7px;
}
.block1{
  width: 656px;
  height: 400px;
}


.block2{
  width: 460px;
  height: 300px;
}
.grafikLine{
  height: 290px;
  width: 533px;
  background: url(../img/Графиик.png) no-repeat;
}
.char{
  height:10px;
  width: 10px;
  border-radius: 50%;
  background-color: #498AFF;
  margin-bottom: -12px;
  margin-left: -12px;
}
.char2{
  background-color: #3AB4F2;
}
.char3{
  background-color: #6DF8B9;
}
.char4{
  background-color: #25E6EC;
}
footer{
  background: #fff;
  height: 559px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 30px;
}
.topchik{
  width: 1146px;
  height: 100%;
  padding: 0;
  margin: 0;
  padding-top: 122px; 
}
.shadow-sm{
  box-shadow: 0px 6px 20px #8c939e4b;
}
.my-0 {
  color: #fff;
}
.headerCard1{
  padding: 25px 0;
}
.list-unstyled li {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color:#48494A;
  margin-top: 10px;
}
.prodaction{
  text-align: center;
  margin-top: 100px;
  font-size: 18px;
  line-height: 22px;
  color:#48494A;
}
/* .topi{
  background: #FFFFFF;
  box-shadow: 0px 6px 20px #1515158f;
  width: 362px;
  height: 332px;
} */

/* .topi :nth-child(1){
  margin-right: 10px;
}
.topi :nth-child(2){
  margin-right: 10px;
} */
